body {
    background-color: #fff4a9;
    cursor:url(cursor.png), auto;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #d21717;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h1:hover{
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease-in-out;
    transform: translateY(2px);
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-size: 1.2em;
    color: #0e07d7;
}

#code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    font-weight: 600;
    color: #25fd5f;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    max-width: fit-content;
    align-self: center;
    
}